
.container {
  height: 10vh;
  width: 100%;
  background-color: #21252B;
  color: #6B717D;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.title {
  width: 15%;
  height: 100%;
  background-color: #21252B;
  color: #6B717D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title img {
  margin: 5px;
}
.links {
  width: 30%;
  height: 100%;
  background-color: #21252B;
  color: #6B717D;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

a{
  padding: 2% 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;

}
a:visited {
  color: #6B717D;
}
a:hover {
  cursor:pointer;
  color: white;
  background-color: #21252B;
}
